@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mozilla+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
@import "tailwindcss";

.headline-kinshuk { 
  font-family : 'Mozilla Headline' , sans-serif ;
}


.special-font { 
  font-family : 'Roboto' , sans-serif ;
}

body {
  font-family:  'Varela Round', sans-serif;
  background-color: black;
}


html {
  scroll-behavior: smooth;
  font-size: 16px;
}


@layer base {
  html {
    font-family: 'Verdana', sans-serif;
  }
}
