@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import "tailwindcss";

body {
  font-family:  'Stack Sans Headline', sans-serif;
  background-color: black;
}

.web-headline{
  font-family : "Mozilla Headline" , sans-serif;
}


html {
  scroll-behavior: smooth;
  font-size: 16px;
}


@layer base {
  html {
    font-family: 'Verdana', sans-serif;
  }
}

