@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import "tailwindcss";



body {
  font-family:  Verdana, 'Geneva', sans-serif;
  background-color: black;
}


html {
  scroll-behavior: smooth;
  font-size: 16px;
}


@layer base {
  html {
    font-family: 'Verdana', sans-serif;
  }
}
